@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: "Quicksand", sans-serif;
}

.logoMain {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffa600;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn1 {
  background-color: #ffa600;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn1:hover {
  padding: 0.8rem 1.3rem;
  background-color: #ff7b00;
  font-weight: 600;
}

.btn2 {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: solid 2px #ffa600;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn2:hover {
  padding: 0.8rem 1.3rem;
  background-color: #ff7b00;
  border: solid 2px #ff7b00;
  font-weight: 600;
}

.sedadlo {
  color: white;
  max-width: 40px;
  padding: 0.1rem 0.6rem;
  border-radius: 0.5rem;
  border: solid 2px #ffa600;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sedadlo:hover {
  background-color: #ff7b00;
  border: solid 2px #ff7b00;
  font-weight: 600;
}

.booked {
  color: gray;
  max-width: 40px;
  padding: 0.1rem 0.6rem;
  border-radius: 0.5rem;
  border: solid 2px gray;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: not-allowed;
  transition: all 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
